<div data-role="page" id="search">  

	<div data-role="header" data-position="inline">
		<a href=<%= home_index_path %> data-icon="arrow-l">Back</a>
		<h1>SearchSG</h1>
		<a href=<%= home_index_path %> data-icon="home">Home</a>
	</div>

	<div data-role="content" data-theme="b">  

		<%= form_tag("/home/search", method: "get") do %>
		  	<input type="search" name="search" id="search-basic" value=<%= @search %> placeholder="Search" />
		<% end %>

		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider" data-theme="a">Search Results</li>
			<% @search_return["results"].each do |result| %>
				<li> <%= result["name"] %> 
					<% if result["opening_hours"] %>
				 	 <p class="open">Open Now: 
				 	 	<%if result["opening_hours"]["open_now"] %>
				 	 		Yes
				 	 	<% else %>
				 	 		No
				 	 	<% end %>
				 	 </p> 
				<% end %>

				<br />
				 <%= result["vicinity"] %> <br />
			<% end %>
		</ul>
	</div>
</div>  