<div data-role="page" id="search">  

	<div data-role="header" data-position="inline">


		<a href=<%= home_search_path(:search => @search) %> data-icon="arrow-l">Back</a>
		<h1><%= @search_return["name"] %></h1>
		<a href=<%= home_index_path %> data-icon="home">Home</a>
	</div>

	<div data-role="content" data-theme="b">  

		<div data-role="collapsible-set" data-theme="b" data-content-theme="b">
			<div data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="false">
				<h3>Details</h3>
				<p><b>Location:</b>
				 	<%= @search_return["formatted_address"] %></p>

				<% if @search_return["international_phone_number"] 
					phoneNum = 'tel:'+@search_return["international_phone_number"].gsub(/\s+/, "") 
					%>

				<p><b>Phone No:</b> <a href=<%= phoneNum %> class="ui-link-inherit"><%= @search_return["international_phone_number"] %></a></p>

				<% end %>

				<% if @search_return["opening_hours"] %>
					<p><b>Open Now:</b>
						<% if @search_return["opening_hours"]["open_now"] %>
							<%= "Yes" %>
						<% else %>
							<%= "No" %>
						<% end %>
					</p>
				<% end %>
			</div>
			<div data-role="collapsible" data-collapsed-icon="flat-calendar" data-expanded-icon="flat-cross">
				<h3>Reviews</h3>

				<% if @search_return["reviews"] %>
					<%= "Reviews powered by Google+" %>
					
					<% @search_return["reviews"].each do |reviews| %>
						<p><%= link_to reviews["author_name"], reviews["author_url"]  %></p>
						<p>"<%= reviews["text"] %>"</p>

					<% end %>

				<% else %>
					<%= "No Reviews available" %>
				<% end %>
				
			</div>
			
		</div>
	</div>
</div>  

